.seclayer {
  background-image: url("./components/images/clg.png");
  height: 600px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 600px;
  justify-content: center;
}

.seclayer h1 {
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  top: 50%;
}

.thirdlayer {
  position: relative;
  top: 1100px;
  background-color: #01062c;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.ft p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    text-align: justify;
    color: #ffffff;
    top: -128px;
    width: 66%;
    left: 63px;
    position: relative;
}

.ft img {
    position: relative;
    height: 337px;
    width: 349px;
    left: 74%;
    top: 85px;
}

.st p  {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    text-align: justify;
    color: #ffffff;
    top: -209px;
    width: 66%;
    left: 28%;
    position: relative;
}
.cent {
  background-color: #01062c;
  height: 500px;
  position: relative;
  top: 1200px;
  width: 100%;
}

.cent img {
  position: relative;
  top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.f2 {
  position: relative;
  top: 1300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cent h1 {
  position: relative;
  width: 710px;
  height: 58px;
  left: 55px;
  top: 55px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 58px;

  /* identical to box height */

  color: #53f6c6;
}

