body {
  background-color: #01062c;
}

.seclayer h1 {
  position: relative;
  width: 710px;
  height: 58px;
  left: 55px;
  top: 700px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 58px;

  /* identical to box height */

  color: #53f6c6;
}

.seclayer p {
  position: relative;
  width: 90%;
  height: 90PX;
  left: 80px;
  top: 730px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 29px;

  color: #ffffff;
}

.f1 {
    width: 1009px;
    height: 371px;
    position: relative;
    top: 720px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.f2 {
  position: relative;
  top: 725px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}