body {
  background-color: #01062c;
}
.seclayer {
  height: 320px;
  width: 100%;
  position: relative;
  top: 600px;
}
.seclayer h1 {
  position: absolute;
  width: 355px;
  height: 72px;
  left: 91px;
  top: 90px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 72px;
  color: #53f6c6;
}
.lf li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  text-align: justify;
  width: 558px;
  height: 31px;
  color: #ffffff;
  list-style-type: disc;
}

.lf {
  position: absolute;
  left: 115px;
  top: 199px;
}
.rt li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  text-align: justify;
  width: 558px;
  height: 31px;
  color: #ffffff;
  position: relative;
  left: 785px;
  top: 50px;
  list-style-type: disc;
}

.rt {
  position: absolute;
  left: 75px;
  top: 150px;
}