body {
  background-color: #01062c;
}
.seclayer {
  height: 2500px;
  width: 100%;
  position: relative;
  top: 630px;
}

.seclayer h1 {
  position: relative;
  width: 90%;
  left:95px;
  height: 110px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 58px;
  color: #53f6c6;
  top: 80px;
  text-align: center;
}

.seclayer h2 {
  position: relative;
  width: 90%;
  left:95px;
  height: 40px;
  top: 62px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #ffffff;
}

.seclayer h3 {
  position: relative;
  width: 90%;
  left:95px;
  height: 22px;
  top: 65px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #e6a321;
}
.seclayer h4 {
    position: relative;
    width: 90%;
    left:95px;
    height: 22px;
    top: 65px;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 40px;
  
    color: #ffffff;
  }